.container {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid red; */
}

p {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
